.reportsContainer {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
}
.inputContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px 2%;
}
.inputContainer input {
    width: 100%;
    height: 60px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: var(--gray-color);
    color: var(--text-color);
    border-radius: 8px;
    padding: 5px;
}
.contentTitle {
    width: 100%;
    padding: 0 2%;
}
.content {
    width: 100%;
    padding: 20px 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.card {
    width: 90%;
    height: 70px;
    background-color: var(--gray-color);
    border-radius: 8px;
    padding: 10px 2%;
    overflow: hidden;
    transition: .3s;
    cursor: pointer;
}
.card.active {
    height: 250px;
}
.cardHead {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.cardBody {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}
.cardBody p {
    font-size: 20px;
}
