* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}
:root {
  /* --main-color: #0067ff; */
  /* --second-color: #4e55e0; */
  --main-color: #d8fe74;
  --second-color: #1f3da0;
  --black-color: #1d1d1d;
}

.inputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.inputContainer label {
  width: 100%;
  color: black;
  font-size: 20px;
}
.inputContainer input {
  width: 100%;
  padding: 7px;
  border: 1px solid black;
  outline: none;
  font-size: 20px;
  border-radius: 8px;
}
.inputContainer select {
  width: 100%;
  padding: 7px;
  border: 1px solid black;
  font-size: 20px;
  border-radius: 8px;
  color: black;
}